{% extends 'base.html' %}

{% block title %}Home Page{% endblock %}

{% block content %}
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Dealerships List</span>
</nav>
<table class="table" id="table" data-filter-control="true">
    <thead>
        <tr>
            <th data-field="id">ID</th>
            <th data-field="full_name">Dealer Name</th>
            <th data-field="city">City</th>
            <th data-field="address">Address</th>
            <th data-field="zip">Zip</th>
            <th data-field="state" data-filter-control="select">State</th>
        </tr>
    </thead>
    <tbody>
        {% for dealership in dealerships %}
            <tr>
                <th scope="row">{{ dealership.id }}</th>
                <td><a href="{% url 'djangoapp:dealer_details' dealership.id %}">{{ dealership.full_name }}</a></td>
                <td>{{ dealership.city }}</td>
                <td>{{ dealership.address }}</td>
                <td>{{ dealership.zip }}</td>
                <td>{{ dealership.st }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<script>
    $(function() {
      $('#table').bootstrapTable()
    })
  </script>
{% endblock %}
